page-pinpage {
  .login-page {
    background: url("../assets/imgs/background-nippon.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

    .logo {
      max-width: 70%;
      margin: 50px auto;
    }
  }
  .login-form {
    // position: absolute;
    width: 100%;
    // left: 0;
    // top: calc(50vh - 106px);

    ion-item {
      background: transparent;
      border-bottom: 1px solid #fff !important;
      ion-label {
        color: #fff !important;
      }
    }
    button {
      background-color: #ffffff;
      color: #09428f;
      text-transform: uppercase;
      font-weight: bold;
    }
    p {
      color: #fff;
    }
  }
}
