page-daily-report {
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    ion-searchbar
    {
    padding: 0 !important;
    margin: 5px 0;
    }

}
